from flask import Flask, render_template, redirect, url_for, session
from auth import auth_bp

app = Flask(__name__)
app.secret_key = "soc_dashboard_secret_key"

app.register_blueprint(auth_bp)

@app.route("/")
def home():
    if "user" in session:
        return redirect(url_for("dashboard"))
    return redirect(url_for("auth.login"))

@app.route("/dashboard")
def dashboard():
    if "user" not in session:
        return redirect(url_for("auth.login"))
    return render_template("dashboard.html", user=session["user"])

if __name__ == "__main__":
    app.run(debug=True)
