body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 40px;
}

.btn {
    background: #22c55e;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

select, button {
    padding: 8px;
    margin: 5px;
}
